/* My styles */


/* Diagnostic Styling 
  * Change Background Color 
  *Outline Elements
*/

body {
    font-family: 'Buda', cursive;
    background: hsl(3, 90%, 8%);
    color: #a2a1a6;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: .5em;
    overflow-x: hidden;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    margin-top: -10px;
    letter-spacing: 3px;
    color: hsl(3, 90%, 8%);
}

#links{
    padding:25px;
    background: #c39865;
    display: flex;
}
  
.links a{
    padding: 0px 10px;
    float: left;
    margin-top: -10px;
    text-decoration: none;
    
  }

.plyr__video-embed iframe {
    margin: 0 auto;
    top: -50%;
}

video{
    height: 80vh;
    display: block;
    margin: 0 auto;
}

.summary{
    width: 80vw;
    margin: 50px auto;
}

.buy{
    width: 80vw;
    margin: 0 auto;
}

.buy a{
    text-align: center;
    padding: 10px 15px;
    margin: 0 auto;
    background: #a2a1a6;
    color: hsl(3, 90%, 8%);
}

.cast{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 50px auto;
}

.a img, .b img, .c img, .d img, .e img, .f img{
    width: 100%;
}

.a {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.b {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.c {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

.d {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.e {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.f {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}

