/* My styles */


/* Diagnostic Styling 
  * Change Background Color 
  *Outline Elements
*/

body {
    font-family: 'Buda', cursive;
    background: hsl(3, 90%, 8%);
    width: 100vw;
    color: #a2a1a6;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    letter-spacing: 3px;
    color: #c39865;
}

.container {
    display: flex;
    margin: 0 auto;
}

.plyr__video-embed iframe {
    margin: 0 auto;
    top: -50%;
    height: 200%;
}

video{
    width: 40%;
    padding: 2%;
    align-items: space-between;
}

h1 span:nth-child(even) {
    color: #a2a1a6;
}

h1 span:nth-child(odd) {
    color: #e8dfd8;
}

section {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 50px auto;
}

#right {
    width: 48%;
    display: grid;
    grid-template-columns: auto 5% auto 5% auto;
    grid-template-rows: 1% 5% auto 5% auto;
    padding: 20px;
}

#right p {
    text-align: center;
}

#right img {
    width: 100%;
}

#left {
    width: 48%;
}

.title {
    grid-column: 2 / 4;
    text-align: center;
}

.a {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.b {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.c {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

.d {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.e {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.f {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}

.a img, .b img, .c img, .d img, .e img, .f img{
    width: 100%;
}