/* My styles */


/* Diagnostic Styling 
  * Change Background Color 
  *Outline Elements
*/

body {
    font-family: 'Buda', cursive;
    background-color: hsl(3, 90%, 8%);
    color: #a2a1a6;
    margin: 0 auto;
    background-image: url(images\dust.jpg);
    background-blend-mode: multiply;
}

body::-webkit-scrollbar {
    width: .5em;
    overflow-x: hidden;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    margin-top: -10px;
    letter-spacing: 3px;
    color: hsl(3, 90%, 8%);
}

nav{
    display: flex;
    justify-content: space-between;
    background: url(images\navbg.jpeg);
    background-blend-mode: soft-light;
}

#links{
    padding:25px;
    text-align: center;
    background-color: #c39865;
}
  
.links a{
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
  }

.links a:hover{
    text-transform: uppercase;
    color: slategrey;
}

.plyr__video-embed iframe {
    margin: 0 auto;
    top: -50%;
}

video{
    height: 80vh;
    display: block;
    margin: 0 auto;
}

.summary{
    width: 63vw;
    margin: 0px auto;
}
.buy{
    width: 80vw;
    display: flex;
    margin: 0 auto;
}

.buy a{
    text-align: center;
    padding: 10px 15px;
    margin: 0 auto;
    background: #c39865;
    color: white;
}

.buy a:hover{
    font-weight: bold;
    color: slategrey;
}

.p1, .p2{
    margin: 2%;
}

#casth2{
    text-align: center;
}

.cast{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.cast img{
    padding: 1%;
    margin: 30px;
}


